
/*
    Breakpoints
        small - 768px
        medium - 992px
        large - 1200px
*/


/* Nav active override */
.navbar-default .navbar-nav>.active>a{ color:#fed136; background:none; }

/* Fix for padding for left aligning the timeline circles */
@media only screen and (min-width: 768px) { .timeline>li .timeline-panel { padding-left: 120px; } }
@media only screen and  (min-width: 992px) { .timeline>li .timeline-panel {padding-left: 170px; } }

/* Fix for line between circles for left align */
.timeline:before { left: 40px; }
@media only screen and (min-width: 768px) { .timeline:before { left:50px; } }
@media only screen and (min-width: 992px) { .timeline:before { left: 65px; } }

/* Fix of space between timeline elements */
@media only screen and (min-width: 768px) { .timeline>li { margin-bottom: 60px;} }
@media only screen and (min-width: 992px) { .timeline>li { margin-bottom: 30px;} }
@media only screen and (min-width: 1200px) { .timeline>li { margin-bottom: 20px;} }


/* Fix of size of timeline circles for large screens */
@media only screen and (min-width: 992px) { .timeline>li .timeline-image { width:130px; height:130px; } }



