
/* Styles of new elements, not overrides, etc */

/*

Darkest purple - #9a1b5c
ligher purple - #b0428e
kind of pink - #dc5db5
bright pink - #ff61da

*/


/************************************************/
/* GENERAL */
/************************************************/

.poster {
    z-index: 2;
}
h1 {
    z-index: 10;
    position: relative;
}


h2 { color: #9a1b5c;}
h3 {
    margin-top: 35px;
    margin-bottom: 20px;
}
@media only screen and (min-width: 768px) { h3 { margin-top: 50px; }}
h4 {
    text-transform: initial;
    font-weight: 500;
    margin-bottom: 20px;
    line-height: normal;
}
h5 {
    /*margin-bottom: 10px;*/
    /*margin-top: 20px;*/
    font-weight: 700;
}

h6 {
    /*margin-bottom: 10px;*/
    /*margin-top: 10px;*/
    font-weight: 600;
}

p {
    font-size: 16px;
}
body {
    font-size: 16px;
}

/* Keep images from being huge */
.img-cont img { width: 100%;}
.img-cont.phone { max-width: 400px;} /* Prevent phone containers being too big though*/
.img-cont { width: 100%; margin-top: 10px; margin-bottom: 5px; position: relative;}
@media only screen and (min-width: 992px) { .img-cont { margin: 0;} }
.img-caption { font-size: 13px;}
.phone-container {
    position: relative;
    z-index: 5;
}
.phone-content {
    margin: 0;
    padding: 0;
    z-index: 2;
    position: absolute;
    top: 14.1299%;
    left: 17.83216%;
    width: 65.7342657%;
    height: 68.110035%;
    outline: 5px solid black;
}

.video-cont iframe {
    width: 100%;
}

@media only screen and (min-width: 768px) { 
    .lead-in {
        padding-left: 20px;
        border-left: 2px solid #b0428e;
    } 
    #home .lead-in { margin-bottom: 0;}
}


.gallery{
    margin-top: 100px;
}

#lightgallery a img {
    vertical-align: sub;
}

.lg-sub-html {

background-color:rgba(0,0,0,1);
}

div.gallery img {

     -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
 
div.gallery img:hover {
  -webkit-filter: blur(2px);
}

span.rollover {
    opacity: 1;
    -o-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -webkit-transition: -webkit-transform 1s;
    background:url(mag.png) center center no-repeat #000;
    cursor: pointer;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 10;
    opacity: 0;
}

span.rollover:hover {
    opacity: .5;
    -o-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -webkit-transition: -webkit-transform 1s;
    -webkit-box-shadow: 0px 0px 4px #000;
    -moz-box-shadow: 0px 0px 4px #000;
    box-shadow: 0px 0px 4px #000;
}
/************************************************/
/* HEADER */
/************************************************/

.intro-text {
    position: absolute;
    width: 100%;
    text-align: center;
    color: white;
    z-index: 10;
    top: 10vh;
}
@media only screen and (min-width: 768px) { .intro-text {top: 30vh;} }
.intro-heading { 
    position: relative;
    font-weight:900;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
}
#prototype-video { width: 100%; height: 80vh; }

#home .img-cont { padding-bottom: 10px;}
/*@media only screen and (min-width: 768px) { #home .img-cont {padding-bottom: 30px;} }*/

/* COVER VIDEO CSS */
.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: white;
}
.video-container .poster img {
    width: 100%;
    top: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 5;
    top: 0;
}
.video-container video.fillWidth {
    width: 100%;
}
/* END COVER VIDEO CSS */

.secondary-lead-in {
    border-top: 2px solid #e4e4e4;
}
@media only screen and (min-width: 768px) { 
    .secondary-lead-in {
        padding: 20px;
        border-left: 2px solid #e4e4e4;
        border-top: none;
    }
    .secondary-lead-in h3 {
        margin-top: 0px;
    }
}

.video-container .overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    background: black;
    opacity: 0.5;

}

/************************************************/
/* RESEARCH + FINDINGS */
/************************************************/

#research { background-color: #fbfbfb;}

.timeline { z-index: 100; }
.timeline>li .timeline-image:hover { border: 3px solid #e6c1f5;}

/* Fixing space between research intro and its subsections */
#research-intro { margin-bottom: 10px; }
@media only screen and (min-width: 768px) { #research-intro { margin-bottom: 40px; } }

@media only screen and (min-width: 768px) { #research-sections { margin-bottom: 100px; } }

/* Double diamond code - need to clean it lol */
.diamond {
    width: 200px;
    height: 200px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    border-radius: 10px;
    border: 2px solid #c1c9d0;
    margin-left: 60px;
    margin-top: 73px;
    position: relative;
}
.diamond.focus {
    border: 2px solid #252b31;
    z-index: 5;
}
.diamonds { position: absolute; }
.diamond-cont {
    position:absolute;
    right:50px;
}
@media only screen and (min-width: 1200px) { .diamond-cont { margin-bottom: 30px; } }
.diamonds.stick-top {
    position: fixed;
    top: 100px; /* Addresses nav */
}
.stick-bottom { bottom: 0; }
.diamond span.diamond-label {
    position: absolute;
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
    margin-top: 90px;
    margin-left: 60px;
    color: #c1c9d0;
    z-index: 5;
}
.diamond.focus span.diamond-label {
    color: #252b31;
}
.diamond-time {
    color: #c1c9d0;
    position: absolute;
    width:60%;
    text-align: right;
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
    top: -58px;
    left: -23px;
    border-bottom: 1px dashed #c1c9d0;
}
.diamond.focus .diamond-time {
    color: #dc5db5;
    border-bottom: 1px dashed #b0428e;
}
.diamond-fillcont {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 7px;
    z-index: 3;
    position: relative;
}
.diamond-fill {
    width: 763px;
    height: 0px;
    background: #e8edf1;
    /*height: 284px;*/
    position: absolute;
    left: -200px;
    top: -180px;
    transform: rotate(-45deg);
    z-index: 1;
}


/************************************************/
/* DESIGN */
/************************************************/
#design {
    background-color: white;
}

#design .lead-in ul {
    list-style: none;
    color: #b0428e;
    margin-bottom: 0;
}

.grid {
    margin-top: 10px;
}
@media only screen and (min-width: 992px) { .grid { margin: 0;} }
.grid-sizer, .grid-item { 
    width: 50%;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 0;
}
@media only screen and (min-width: 768px) { .grid-item, .grid-sizer { width:25%;} }

#design .row {
    margin-top: 10px;
}
@media only screen and (min-width: 768px) { #design .row { margin-top: 30px; } }

.design-section div {
    margin-left: 10px;
}
@media only screen and (max-width: 768px) { .design-section {padding-top: 30px;}}
@media only screen and (min-width: 768px) { #design-sections { margin-bottom: 100px; } }
.design-section h4 {
    margin-top: 0;
}

#design-intro { margin-bottom: 10px; }
@media only screen and (min-width: 768px) { #design-intro { margin-bottom: 40px; } }



/************************************************/
/* FINAL */
/************************************************/
#final { background-color: #fbfbfb;}
#final .row { margin-top: 100px; }
#final .row:nth-child(2) { margin-top: 30px; }
@media only screen and (min-width: 768px) { #final .row { margin-top: 50px; } }

@media only screen and (max-width: 768px) { #final .secondary-lead-in p { margin-top: 30px; } }

#final h3 {
    margin-top: 0;
    margin-bottom: 0;
}
@media only screen and (min-width: 768px) { #final h4 { margin-bottom: 0px; }}

/* On small screens, adding padding to bottom of images */
.final-block { margin-bottom: 10px; }
@media only screen and (min-width: 768px) {.final-block { margin-bottom: 0px; }}

#final .img-cont {
    margin-left: auto;
    margin-right: auto;
}




/************************************************/
/* ABOUT US */
/************************************************/

#about-us .row { margin-top: 10px; }
@media only screen and (min-width: 768px) { #about-us .row { margin-top: 30px; } }

.about-card { 
    clear: both;
    margin-bottom: 20px;
}
@media only screen and (min-width: 500px) { .card-image { float: left; margin-bottom: 10px; } }
#about-us .img-cont {
    width: 110px;
    margin-right: 25px;
}
.about-card h5 {
    margin-top: 5px;
}
@media only screen and (min-width: 768px) { #about-us .img-cont { width: 175px; }}
@media only screen and (min-width: 768px) { #about-us .img-cont { width: 175px; }}

@media only screen and (min-width: 768px) { #about-us h5 { margin-bottom: 5px; }}
@media only screen and (min-width: 768px) { #about-us h6 { margin-bottom: 30px; }}


@media only screen and (min-width: 768px) { .card-meta { margin-top: 10px; }}

@media only screen and (max-width: 768px) { .card-bio { margin-bottom: 3px; }}
.about-card span {
    display: block;
    font-size: 9pt;
    color: #585858;
}



/************************************************/
/* FOOTER */
/************************************************/
footer {
    background-color: #e6e6e6;
    color: #6f6f6f;
    padding: 50px 0;
    font-size: 12px;
}


