
/* Styles of new elements, not overrides, etc */


/************************************************/
/* GENERAL */
/************************************************/

h3 {    
    margin-top: 50px;
    margin-bottom: 20px;
}
h4 {
    text-transform: initial;
    font-weight: 500;
}
h5 {
    margin-bottom: 5px;
}
span.h4-lead {
    font-size: 12px;
    color: #afafaf;
}
section h2.section-heading {
    color: #fbb200;
}

/* Keep images from being huge */
.img-cont img { width: 100%;}
.img-cont { width: 100%;}

/************************************************/
/* HEADER */
/************************************************/

.intro-text {
    position: absolute;
    top: 120px;
    width: 100%;
    text-align: center;
}
@media only screen and (min-width: 768px) { .intro-text {top: 30vh;} }
.intro-heading { 
    position: relative;
    font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform:uppercase;
    font-weight:700;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}
.intro-heading span {
    color: #fff284;
}
#prototype-video { width: 100%; height: 80vh; }

#home p {
    margin-left: 20px;
    margin-bottom: 20px;
}
#home .img-cont { padding-bottom: 10px;}
@media only screen and (min-width: 768px) { #home .img-cont {padding-bottom: 30px;} }

/* COVER VIDEO CSS */
.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: white;
}
.video-container .poster img {
    width: 100%;
    top: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    top: 0;
}
.video-container video.fillWidth {
    width: 100%;
}
/* END COVER VIDEO CSS */


/************************************************/
/* RESEARCH */
/************************************************/

#research { background-color: #fbfbfb;}

/* Fixing space between research intro and its subsections */
#research-intro { margin-bottom: 10px; }
@media only screen and (min-width: 768px) { #research-intro { margin-bottom: 40px; } }

/* Double diamond code - need to clean it lol */
.diamond {
    width: 200px;
    height: 200px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    border-radius: 10px;
    border: 2px solid #c1c9d0;
    margin-left: 60px;
    margin-top: 73px;
    position: relative;
}
.diamond.focus {
    border: 2px solid #252b31;
    z-index: 5;
}
.diamonds { position: absolute; }
.diamond-cont {
    position:absolute;
    right:50px;
}
@media only screen and (min-width: 1200px) { .diamond-cont { margin-bottom: 30px; } }
.diamonds.stick-top {
    position: fixed;
    top: 100px; /* Addresses nav */
}
.stick-bottom { bottom: 0; }
.diamond span {
    position: absolute;
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
    margin-top: 90px;
    margin-left: 60px;
    color: #c1c9d0;
}
.diamond.focus span {
    color: #252b31;
}


/************************************************/
/* SYNTHESIS */
/************************************************/

.grid-sizer, .grid-item { width: 50%; }
@media only screen and (min-width: 768px) {
    .grid-sizer, .grid-item { width: 25%; }
}



/************************************************/
/* DESIGN */
/************************************************/

#design {
    background-color: #fbfbfb;
}
#design-intro { margin-bottom: 10px; }
@media only screen and (min-width: 768px) { #design-intro { margin-bottom: 40px; } }


/************************************************/
/* ABOUT US */
/************************************************/

.about-card { clear: both; }
@media only screen and (min-width: 500px) { .card-image { float: left; } }
#about-us .img-cont {
    width: 110px;
    margin-right: 25px;
}
@media only screen and (min-width: 768px) { #about-us .img-cont { width: 175px; }}
@media only screen and (min-width: 768px) { #about-us .img-cont { width: 175px; }}





